table, th, td {
    border: 1px solid black;
}

th, td{
    text-align: center;
    padding: 15px;
}



/* Este me sirve para cuando pase el cursor por encima, me resalte la linea */
tr:nth-child(even){
    background-color: rgb(rgb(119, 119, 119), green, blue)
}

tr:hover{
    background-color: rgb(rgb(131, 47, 47), green, blue);
}


table{
    border-collapse: collapse;
    width: 80%;
    margin: 10px;
}


/* Este sirve para colocar los titulos un poco mas grandes (tamaño) */
th{
    height: 50px;
    background-color: rgb(191, 127, 250);
}

